<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageUrl</key>
		<string>new_feature_2</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>275</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>new_feature_2</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>185</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>new_feature_2</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>220</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>new_feature_2</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>300</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>new_feature_2</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>300</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>new_feature_2</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>180</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>new_feature_2</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>246</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>new_feature_2</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>246</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>new_feature_2</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>365</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>new_feature_2</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>365</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>new_feature_2</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>330</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>new_feature_2</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>300</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>new_feature_2</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>250</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>new_feature_2</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>250</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>new_feature_2</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>290</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>new_feature_2</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>280</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>new_feature_2</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>300</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>new_feature_2</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>300</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>new_feature_2</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>290</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>new_feature_2</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>275</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>new_feature_2</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>250</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>new_feature_2</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>250</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>new_feature_2</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>275</string>
	</dict>
	<dict>
		<key>imageUrl</key>
		<string>new_feature_2</string>
		<key>width</key>
		<string>200</string>
		<key>height</key>
		<string>290</string>
	</dict>
</array>
</plist>
